@import "fonts";
@import "mq";
@import "palette";
@import "chart";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;

    #vaccineGoals {
    	#chartKey { display: none }
    }
}
