<div class="interactive-wrapper rainfall">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">Australia's La Niña of 2021-22: cumulative rainfall v long term averages</div>
			<div class='subTitle' id="subTitle">Showing daily cumulative rainfall for 2021-22 v the median, 10th percentile (very dry) and 90th percentile (very wet) of historic daily cumulative rainfall values. Historical data is from <span id="yearsNote">1910 to 2021</span></div>
			<div class='notes' id='chartKey'>
				Currently showing: <select id="rainSelector"></select>	
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
					<div id="loadingContainer">Loading...</div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote">Rainfall data from Botanic Gardens and Observatory Hill (Feb 24, 25), </span> Guardian graphic <span id="sourceText"> | Bureau of Meteorology</span>
			</div>	
			
	</div>
</div>